.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.emptyUploadContainer {
    display: flex;
    width: 100%;
    height: 100%;
    border: dashed antiquewhite;
}

.emptyUpload {
    display: none;
}

.cell {
    height: 100%;
    background-color: aliceblue;
    text-align: center;
}

.dataContainer.cell {
    border-radius: 15px;
}

.button.cell {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.selected.cell {
    background-color: greenyellow;
}

.partiallySelected.cell {
    background-color: green;
}

.row {
    /* basing the height on what feels like a bug */
    /* TODO: try to rework that */
    min-height: 0px;
    max-height: 100%;
    height: 0px;
}

.columnTitle {
    position: sticky;
    top: 0;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
}

.rowTitle {
    position: sticky;
    left: 0;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    white-space: nowrap;
}