.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 6px dashed burlywood;
    border-radius: 51px;
}

.container:hover {
    background-color: antiquewhite;
    /* TODO: change on drag-hover */
}

.upload {
    display: none;
}

.label {
    max-width: 100%;
    font-size: larger;
}