.row {
    height: 100%;
}

.cell {
    border-radius: 5px;
}

.dataCell {
    background-color: lightblue;
}

.titleCell {
    font-weight: bold;
    background-color: lightskyblue;
}

.cellButton {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.cellButton:hover {
    border-color: grey;
}

.selectedCellButton {
    background-color: rgba(0, 0, 0, 0.25);
}