.cardsList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
}

.tableSelection {
    width: fit-content;
    background-color: greenyellow;
}

.previewContainer {
    width: 600px;
    height: 800px;
    border-radius: 50px;
    margin: 30px;
    overflow: hidden;
}

.excelContainer {
    width: 600px;
    height: 800px;
    margin: 30px;
}