.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0 6px;
    background: linear-gradient(white, transparent);
    border-end-end-radius: 15px;
}

.link {
    color: black;
    text-decoration: none;
    padding: 3px;
}

.seperator {
    background: linear-gradient(silver, transparent);
    opacity: 0.5;
    width: 3px;
}